<!DOCTYPE html>
<html>
  <head>
    <title>Message Board | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Message Board</h1>
    <h2><%= title %></h2>
    <div id="message-container">
      <ul class="messages">
        <% messages.forEach(message => { %>
        <li>
          <p><%= message.text %></p>
          <p><%= message.user %></p>
          <p><%= message.added %></p>
        </li>
        <% }) %>
      </ul>
    </div>
    <a href="/new">
      <button>Create a new message</button>
    </a>
  </body>
</html>
